<div fxLayout="row wrap" fxLayout.sm="column">
    <img fxFlex.sm="90" class="img-word" mat-card-image [src]="heroe_word_img">
</div>

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">

    <div fxFlex="21" fxFlex.sm="40" fxFlex.xs="90" fxLayout="column">
        <mat-card class="mt-4 example-card">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Batman</mat-card-title>
                <mat-card-subtitle>Bruce Wayne</mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image [src]="heroes_img.batman">
        
        </mat-card>
    </div>

    <div fxFlex="21" fxFlex.sm="40" fxFlex.xs="90" fxLayout="column">
        <mat-card class="mt-4 example-card">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Superman</mat-card-title>
                <mat-card-subtitle>Kal-El</mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image [src]="heroes_img.superman">
        
        </mat-card>
    </div>

    <div fxFlex="21" fxFlex.sm="40" fxFlex.xs="90" fxLayout="column">
        <mat-card class="mt-4 example-card">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Hulk</mat-card-title>
                <mat-card-subtitle>Bruce Banner</mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image [src]="heroes_img.hulk">
        
        </mat-card>
    </div>

    <div fxFlex="21" fxFlex.sm="40" fxFlex.xs="90" fxLayout="column">
        <mat-card class="mt-4 example-card">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Iron Man</mat-card-title>
                <mat-card-subtitle>Tony Stark</mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image [src]="heroes_img.ironman">
        
        </mat-card>
    </div>

</div>
